<%= erb :admin_templateA %>

<div class="bannerbox"><p>Add a sitewide banner:</p>
<form method='POST' enctype='multipart/form-data'>
  <input type='text' name='headline' value="<%= @content[:headline] %>"
<p><input type='submit' value="Submit" /></p>
</form>
</div>
