<div class="container">
  <div class="template">
  <!-- <form> TemplateA </form> -->
    <form action='/' method='POST' enctype='multipart/form-data'>
      <h1>Page Content:</h1>
      <p>Column One Heading: <input type='text' class="textline" name=''/></p>
      <div class="item_box">
        <p>Item/Price Box</p>
        <p>Item: <input type='text' class="textline" name=''/> Price: <input type='text' class="textline2" name=''/></p>
        <p>Subitem: <input type='text' class="textline" name=''/> Price: <input type='text' class="textline2" name=''/></p>
        <p><span class="fineprint"><em>(Subitems are optional)</em></span>
      </div>

  </div>
</div>
