<div class=admin_nav>
  <ul>
    <li><a href='/admin_phone'>Phone</a></li>
    <li><a href='/admin_what'>What</a></li>
    <li><a href='/admin_when'>When</a></li>
    <li><a href='/admin_where'>Where</a></li>
    <li><a href='/admin_why'>Why</a></li>
    <li><a href='/admin_who'>Who</a></li>
  </ul>
</div>
