<html>
  <head>
    <title>Two-fisted Mario's Admin</title>
    <link type='text/css' rel="stylesheet" href="/admin.css">
  </head>
  <body>
    <div class="center">
      <%= erb :admin_header %>
      <%= erb :admin_nav %>
      <%= yield %>
    </div>
  </body>
</html>
