<div class="container">
  <div class="template">
  <!-- <form> TemplateA </form> -->
    <form action='/' method='POST' enctype='multipart/form-data'>
      <link rel="stylesheet" href="admin_templates.css">
      <h1>Navigation</h1>
      <p>Page Title: <input type='text' name=''/></p>
      <p>Icon image:<br />
      <input type='file' name=''/></p>
      <p>Active icon image: <em>for rollovers and active page</em><br />
      <input type='file' name=''/></p>
      <hr />
      <h1>Page Content:</h1>
      <p>Headline: <input type='text' name=''></p>
      <p>Body Text:<br />
        <textarea name=''></textarea></p>
      <p>Image: <em>Max size 685px wide x 587px high</em><br />
      <input type='file' name='' /></p>
      <p>Note: <input type='text' name=''></p>
      <input type='submit' value="Submit"/>
    </form>
</div>
</div>
