<div class=admin_nav>
  <ul>
    <li><a href='/admin/index'>Home</a></li>
    <li><a href='/admin/phone'>Phone</a></li>
    <li><a href='/admin/what'>What</a></li>
    <li><a href='/admin/when'>When</a></li>
    <li><a href='/admin/where'>Where</a></li>
    <li><a href='/admin/why'>Why</a></li>
    <li><a href='/admin/who'>Who</a></li>
  </ul>
</div>
