<div class="container">
  <div class="template">
    <form action='/admin_what' method='POST' enctype='multipart/form-data'>
      <h1>Page Content:</h1>
<!-- Column 1 -->
      <p>Column One: Menu Items &amp; Prices</p>
      <div class="item_box">
        <p>Item/Price Box</p>
        <p>Item: <input type='text' class="textline" name='menu[1][item]'/> Price: <input type='text' class="textline2" name='menu[1][price]'/></p>
        <p>Subitem: <input type='text' class="textline" name='menu[1][subitem]'/> Price: <input type='text' class="textline2" name='menu[1][subprice]'/></p>
        <p><span class="fineprint"><em>(Subitems are optional)</em></span>
      </div>

      <div class="item_box">
        <p>Item/Price Box</p>
        <p>Item: <input type='text' class="textline" name='menu[2][item]'/> Price: <input type='text' class="textline2" name='menu[2][price]'/></p>
        <p>Subitem: <input type='text' class="textline" name='menu[2][subitem]'/> Price: <input type='text' class="textline2" name='menu[2][subprice]'/></p>
        <p><span class="fineprint"><em>(Subitems are optional)</em></span>
      </div>

      <div class="item_box">
        <p>Item/Price Box</p>
        <p>Item: <input type='text' class="textline" name='menu[3][item]'/> Price: <input type='text' class="textline2" name='menu[3][price]'/></p>
        <p>Subitem: <input type='text' class="textline" name='menu[3][subitem]'/> Price: <input type='text' class="textline2" name='menu[3][subprice]'/></p>
        <p><span class="fineprint"><em>(Subitems are optional)</em></span>
      </div>

      <div class="item_box">
        <p>Item/Price Box</p>
        <p>Item: <input type='text' class="textline" name='menu[4][item]'/> Price: <input type='text' class="textline2" name='menu[4][price]'/></p>
        <p>Subitem: <input type='text' class="textline" name='menu[4][subitem]'/> Price: <input type='text' class="textline2" name='menu[4][subprice]'/></p>
        <p><span class="fineprint"><em>(Subitems are optional)</em></span>
      </div>

      <div class="text_box">
        <p>Text Box</p>
        <p><input type='textarea' class="textarea" name='menu[5][textbox]'/> </p>
      </div>

<!-- Column 2 -->
    <p>Column Two: Toppings &amp; More</p>
    <div class="text_box">
      <p>Text Box</p>
      <p><input type='textarea' class="textarea" name=''/> </p>
    </div>

<!-- Column 3 -->
    <p>Column Three: Specials</p>
    <div class="item_box">
      <p>Item/Price Box</p>
      <p>Item: <input type='text' class="textline" name=''/></p>
      <p>Price: <input type='text' class="textline" name=''/></p>
      <p>Description: <input type='textarea' class="textarea" name=''/></p>
    </div>

    <div class="item_box">
      <p>Item/Price Box</p>
      <p>Item: <input type='text' class="textline" name=''/></p>
      <p>Price: <input type='text' class="textline" name=''/></p>
      <p>Description: <input type='textarea' class="textarea" name=''/></p>
    </div>

    <div class="item_box">
      <p>Item/Price Box</p>
      <p>Item: <input type='text' class="textline" name=''/></p>
      <p>Price: <input type='text' class="textline" name=''/></p>
      <p>Description: <input type='textarea' class="textarea" name=''/></p>
    </div>

    <div class="item_box">
      <p>Item/Price Box</p>
      <p>Item: <input type='text' class="textline" name=''/></p>
      <p>Price: <input type='text' class="textline" name=''/></p>
      <p>Description: <input type='textarea' class="textarea" name=''/></p>
    </div>

    <div class="item_box">
      <p>Item/Price Box</p>
      <p>Item: <input type='text' class="textline" name=''/></p>
      <p>Price: <input type='text' class="textline" name=''/></p>
      <p>Description: <input type='textarea' class="textarea" name=''/></p>
    </div>

    <p><input type='submit' value="Submit"/></p>
  </form>

  </div>
</div>
