<div class="container">
  <div class="template">
  <!-- <form> TemplateA </form> -->
    <form action='<%= admin_path %>' method='POST' enctype='multipart/form-data'>
      <h1>Page Content:</h1>
      <p>Headline: <input type='text' name='headline'><%= @headline %></p>
      <p>Body Text:<br />
        <textarea name='bodytext'><%= @bodytext %></textarea></p>
      <p>Image: <span class="fineprint"><strong>Max size 685px wide x 587px high</strong></span><br />
      <input type='file' name='note' /></p>
      <p>Note: <input type='checkbox' name='note'><span class="red">*</span> <input type='text' name=''></p>
      <input type='submit' value="Submit"/>
    </form>
</div>
</div>
