<div class="container">
  <div class="template">
  <!-- <form> TemplateA </form> -->
    <form action='/' method='POST' enctype='multipart/form-data'>
      <h1>Navigation</h1>
      <p>Page Title: <input type='text' class="textline" name=''/></p>
      <p><input type='checkbox' name=''><span class="fineprint">Use an icon in the menu instead of text</span></p>
      <p>Icon image: <span class="fineprint"><strong>Max size 67px x 67px</strong></span><br />
      <input type='file' name=''/></p>
      <p>Hover/Active icon image: <span class="fineprint"><strong>Max size 67px x 67px</strong></span><br />
      <input type='file' name=''/></p>
      <hr />
      <h1>Page Content:</h1>
      <p>Column One:</p>
      <div class="item_box">
        <p>Item/Price Box</p>
        <p>Item: <input type='text' class="textline" name=''/> Price: <input type='text' class="textline2" name=''/></p>
        <p>Subitem: <input type='text' class="textline" name=''/> Price: <input type='text' class="textline2" name=''/></p>
        <p><span class="fineprint"><em>(Subitems are optional)</em></span>
      </div>

  </div>
</div>
