<div class="contact">
  <p>Something else to say? Ask and we might answer...<br />
  <span class="tiny"><span class="red">Maybe...</span></span></p>
<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
<div class="col1a">
		<label for="name">Your name</label><br />
		<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
		<label for="email">Your email</label><br />
		<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
</div>
<div class="col1b">
		<label for="message">Your message</label><br />
		<textarea id="message" class="input" name="message" rows="5" cols="30"></textarea><br />
	<input id="submit_button" type="submit" value="Send us email" />
</div>
</div>
</form>
