<html>
  <head>
    <title>Two-fisted Mario's Pizza</title>
    <link type='text/css' rel="stylesheet" href="/clonewars.css">
  </head>
  <style>
    @font-face { font-family: adventure-webfont;
        src: url('/fonts/adventure-webfont.ttf');}
    div { font-family: adventure-webfont; }
    </style>
  <body>
    <div class="center">
      <div class="content">
        <%= yield %>
      </div>
      <%= erb :nav %>
    </div>
  </body>
</html>
