<div class=nav>
  <ul>
    <li class="icon"><a href='/phone'><img src="/images/icon_phone.gif" alt="phone1"></a></li>
    <li><a href='/what'>What</a></li>
    <li><a href='/when'>When</a></li>
    <li><a href='/where'>Where</a></li>
    <li><a href='/why'>Why</a></li>
    <li><a href='/who'>Who</a></li>
  </ul>
</div>
