<div>
  <ul class="nav">
    <li class="phone"><a href='/phone'><img src="/images/icon_phone.gif" alt="phone1"></a></li>
    <li class="what"><a href='/what'>What</a></li>
    <li class="when"><a href='/when'>When</a></li>
    <li class="where"><a href='/where'>Where</a></li>
    <li class="why"><a href='/why'>Why</a></li>
    <li class="who"><a href='/who'>Who</a></li>
  </ul>
</div>
