<%= erb :header %>

<div class="column1">gimme a</div>
<div class="column2">with some</div>
<div class="column3">how 'bout yer</div>

<br /><br /><br /><br /><br />

<p> MENU COMING SOON </p>

<br /><br /><br /><br /><br />

<center><p><a href="/files/tfm_menu.pdf"><span class="tiny">PDF  THESE  BONES  FOR  MY  DOG  OF  A PRINTER...</span></a></p></center>
