<%= erb :header %>
<div class="column1">
  <div class="colhead1">gimme a</div>
  <p class="col1"><span class="yellow">blarg</span>, wut </p>
</div>
<div class="column2">
  <div class="colhead2">with some</div>
  <p class="col2"></p>
</div>
<div class="column3">
  <div class="colhead3">how 'bout yer</div>
  <p class="col3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis volutpat magna. Donec in nibh euismod, facilisis orci eget, scelerisque enim. Donec et sapien placerat dolor auctor scelerisque. Sed vulputate interdum sollicitudin. Nulla in vulputate mauris. Fusce nec fringilla urna. Duis eu cursus odio. Vivamus a libero quam. Phasellus laoreet tincidunt suscipit. Etiam quis est hendrerit, porta lectus ac, ornare eros. Vivamus metus eros, dictum nec enim quis, efficitur pulvinar ipsum. </p>
</div>

<div class="menulink"><a href="/files/tfm_menu.pdf">PDF  THESE  BONES  FOR  MY  DOG  OF  A PRINTER...</a></div>
