<%= erb :header %>
<div class="column1">
  <div class="colhead1">gimme a</div>
  <div class="col1a">
  <p class="col1">@menu["1"][:item]</p>
  <p class="col1"><span class="yellow">id1:subitem</span></p>
  <br />
  <p class="col1">id2:item</p>
  <p class="col1"><span class="yellow">id2:subitem</span></p>
  <br />
  <p class="col1">id3:item</p>
  <p class="col1"><span class="yellow">id3:subitem</span></p>
  <br />
  <p class="col1">id4:item</p>
  <p class="col1"><span class="yellow">id4:subitem</span></p>
  </div>
  <div class="col1b">
  <p class="col1">id1:price</p>
  <p class="col1">id1:subprice</p>
  <br />
  <p class="col1">id2:price</p>
  <p class="col1">id2:subprice</p>
  <br />
  <p class="col1">id3:price</p>
  <p class="col1">id3:subprice</p>
  <br />
  <p class="col1">id4:price</p>
  <p class="col1">id5:subprice</p>
  </div>
  <div style="clear:both"></div>
  <br />
  <p class="col1">id5:textbox</p>
</div>
<div class="column2">
  <div class="colhead2">with some</div>
  <p class="col2">id6:textbox</p>
</div>
<div class="column3">
  <div class="colhead3">how 'bout yer</div>
  <p class="col3">
    MENU ITEM<br/ >
    PRICE<br />
    <span class="yellow">Description of all the ingredients.</span></p>
  <p class="col3">
    MENU ITEM<br/ >
    PRICE<br />
    <span class="yellow">Description of all the ingredients.</span></p>
  <p class="col3">
    MENU ITEM<br/ >
    PRICE<br />
    <span class="yellow">Description of all the ingredients.</span></p>
  <p class="col3">
    MENU ITEM<br/ >
    PRICE<br />
    <span class="yellow">Description of all the ingredients.</span></p>
  <p class="col3">
    MENU ITEM<br/ >
    PRICE<br />
    <span class="yellow">Description of all the ingredients.</span></p>

</div>

<div class="menulink"><a href="/files/tfm_menu.pdf">PDF  THESE  BONES  FOR  MY  DOG  OF  A PRINTER...</a></div>
