<h1>every friggin’ day of the week…</h1>

<p>Monday: 10am - 2am
Tuesday: 10am - 2am
Wednesday: 10am - 2am
Thursday: 10am - 3am *
Friday: 10am - 3am *
Saturday: 10am - 3am *
Sunday: 10am - 2am</p>

<p><span class=“red”>*</span> <span class=“tiny”>or as late as it takes the crowd to thin…</span>
