<%= erb :header %>
<h1><%= @when['header'] %></h1>

<div>
  <ul>
    <% @when['schedule'].each do |day, hours| %>
      <li>
        <%= day.capitalize %>: <%= hours %>
        <!-- <span class="red">*</span> -->
      </li>
    <% end %>
  </ul>
</div>
    <p><span class="red">*</span> <span class="tiny">or as late as it takes the crowd to thin...</span></p>
