<h1>Mario Guccio</h1>
<div>
  <p>An old Italian circus strong-man and fancy-pants entomologist now retired and living part time in Ireland with his bride.</p>
</div>

<div>
  <p>Last we heard, he makes potato cannons by day,
    and sweet sweet love by night…</p>
</div>

<div>
  <p>Probably not a lot to do in Ireland, really.</p>
</div>

<div>
  <p>Oh ya, you wanna meet his <a href=“http://www.doubledaughters.com/Marios_Double_Daughters_Salotto/Splash.html” alt=“Double Daughters Salotto” target=“new”>daughters?</a></p>
</div>
